<section class="dialog">
  <div class="container">
    <div class="answer-wrapper"><p class="answer">Viva! I find what film it is.</p></div>
    <div class="answer-wrapper">
      <img class="answer-image" src="./images/placholder.png" alt="" width="300" height="260" />
      <p>It’s <span class="bolded">“Title”</span></p>
      <p>IMDb rating 7.5/10</p>
      <p class="description">(опис)</p>
    </div>
    <div class="user-responses">
      <button type="button">Yes! It’s film that I search)</button>
      <button type="button">Nope. It’s not correct</button>
    </div>
    <!-- <div class="user-answer-wrapper"><p class="answer">Find me.. (весь текст)</p></div> -->
  </div>
</section>
