.dialog {
  padding-bottom: 45px;
  font-size: 12px;
}

.dialog .container {
  padding-top: 20px;

  max-width: 700px;
  max-height: 854px;

  overflow-y: auto;
}

.answer-wrapper {
  width: 340px;
  padding: 20px;
  border-radius: 15px 15px 15px 0px;
  background: var(--secondary-background-color);
}

.user-answer-wrapper {
  margin-left: auto;
  border-radius: 15px 15px 0px 15px;
  background: var(--tertiary-background-color);
}

.user-answer-wrapper .answer-image {
  margin-top: 10px;
  margin-bottom: 0;
}
.answer-wrapper:not(:first-child) {
  margin-top: 15px;
}

.answer-wrapper p {
  overflow-wrap: break-word;
  overflow-y: auto;
}

.answer-image {
  margin-bottom: 11px;

  border-radius: 5px;
}

.answer-wrapper .description {
  margin-top: 10px;
}

.user-responses {
  margin-top: 20px;

  display: flex;
  gap: 20px;

  transition: all 250ms ease-in-out;
}

.user-responses.is-hidden {
  margin: 0;
}

.user-responses button {
  text-align: left;
  padding: 20px;

  flex-basis: 340px;

  border-radius: 15px;
  border: 1px solid #fff;
}
