.page-header {
  padding-top: 20px;
}

.page-header a {
  display: flex;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;

  color: inherit;
  text-decoration: none;

  font-size: 30px;
  font-family: 'MuseoModerno';
  font-weight: 400;
}
